body {
	margin: 0;
	display: flex;
	justify-content: center;
  align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background: url(back.png);
	background-size: auto 100vh;
	background-attachment: fixed;
	height: 100vh;
	animation: anime;
	animation-duration: 2000000000s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
}
form {	
	display: flex;
	flex-wrap: wrap;
  justify-content: space-evenly;
	color: rgb(248,220,138);
	background-color: rgb(187,140,97);
	border: rgb(248,220,138) 5px solid;
	border-radius: 50px;
}
h1 {
	width: 100%;
	text-align: center;
}
.left_column {
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}
fieldset {
	border: rgb(248,220,138) 3px dashed;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width: 250px;
}
legend {
	font-weight: bold;
	text-align: center;
}
label {
	margin-top: 10px;
	cursor: pointer;
	display: flex;
}
input {
	cursor: pointer;
	border: none;
	outline: none;
}
.result_block {
	margin-top: 30px;
}
label[for="result"] {
	display:inline;
	margin-right: 15px;
}
input[type="text"] {
	cursor: text;
	width: 100px;
	border-radius: 5px;
	padding: 5px;
}
input[type="button"] {
	font-size: 16pt;
	color: rgb(187,140,97);
	font-weight: bold;
	background-color: rgb(248,220,138);
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 50px;
	border-radius: 15px;
}
.right_column {
	display: flex;
	flex-direction: column;
	float: right;
}
#start, #end {
	margin-top: 5px;
	width: 150px;
	border-radius: 5px;
	padding: 5px;
}
label[for="end"] {
	margin-top: 30px;
}

@keyframes anime {
	from {
	}
	to {
		background-position: -100000000000px;
	}
}